.spinner {
    width: 56px;
    height: 56px;
    animation: spinner-8k6ao5md 3s infinite;
    border-radius: 50%;
    background-color: #474bff;
    transform-origin: center;
 }
 
 @keyframes spinner-8k6ao5md {
    0% {
       transform: perspective(224px) rotateY(0deg);
    }
 
    10% {
       transform: perspective(224px) rotateY(-65deg);
    }
 
    90%, 100% {
       transform: perspective(224px) rotateY(2880deg);
    }
 }
